/* typoghaphy */

html {
  background-color: rgba(236, 236, 236, 0.281);
  margin-left: 0px;
  margin-right: 0px;
}

html,
body {
  font-family: "Gibson Light", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(33, 37, 83);
  font-size: 17px;
  line-height: 1.5;
  font-weight: 100;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  letter-spacing: normal;
  padding: 0px;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

h1 {
  font-family: "Presicav Tight Lt", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(247, 82, 88);
  font-size: 40px;
  line-height: 1em;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  letter-spacing: normal;
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  font-family: "Presicav Tight Rg", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* color: rgb(146, 148, 169); */
  color: rgb(247, 82, 88);
  font-size: 22px;
  line-height: 1em;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  letter-spacing: normal;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  font-family: "Presicav Tight Rg", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(33, 37, 83);
  font-size: 18px;
  line-height: 1em;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  letter-spacing: normal;
  margin-bottom: 1em;
  margin-top: 1em;
}

h4,
h5,
h6 {
  font-family: "Presicav Tight Rg", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(33, 37, 83);
  font-size: 16px;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  margin-top: 0;
  letter-spacing: normal;
  margin-bottom: 1em;
  margin-top: 1em;
}

h5 {
  color: rgb(102, 103, 124);
}

h6 {
  color: rgb(146, 148, 169);
}


/* tables */

table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0;
  word-break: initial;
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr:nth-child(2n),
thead {
  background-color: #f8f8f8;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

/* code */

code {
  padding: 0 2px 0 2px;
  padding: 0;
}

pre {
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #e7eaed;
  background-color: #f8f8f8;
}

/* horizontal line */

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1px solid #e7eaed;
}

/* links */

a {
  text-decoration: none;
  color: rgb(33, 37, 83);
}

/* images */

img {
  max-width: 100%;
}

/* handle sidebar + content side by side */

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  overflow: scroll;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px;
  background-color: white;
  align-self: stretch;
  overflow: scroll;
}

/* sidebar (document outline) management */

@media only print {

  .sidebar {
    display: none;
  }

}

@media only screen and (max-width: 900px) {

  .sidebar {
    display: none;
  }

}

@media only screen {
  
  /* let inner elements (sidebar, content) handle scrolling independently */
  body, html, .container {
    height: 100%;
    overflow: hidden;
  }

}

@media only screen and (min-width: 900px) {

  .sidebar {
    background-color: #f8f8f8;
    padding: 1.5em;
    margin: 0em;
    white-space: nowrap;
    max-width: 25%;
    margin-top: 2em;
  }

  .sidebar ul {
    padding-inline-start: 20px;
    list-style-type: none;
    text-decoration: capitalize;
    line-height: 1.7em;
  }

}